[Unit]
Description=Resize root filesystem to fit available disk space
Wants=systemd-udevd.service systemd-udev-trigger.service
After=systemd-remount-fs.service systemd-udevd.service

[Service]
Type=oneshot
ExecStart=-/usr/sbin/resize-helper
ExecStartPost=/usr/bin/systemctl disable resize-helper.service

[Install]
WantedBy=default.target
